
<div class="container" *ngIf="product">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{product.name}}
  </h1>

   <!-- Portfolio Item Row -->
   <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src={{product.imagePath}} alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">ÜRÜN HAKKINDA</h3>
      <p>{{product.description}}</p>
      <h3 class="my-3">DİĞER BİLGİLER</h3>
      <ul>
        <li>Ürün Fiyatı:</li>
        {{product.price | currency}}
        <li>Ürün Kategorisi:</li>
        {{product.category}}
      </ul>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <!-- <h3 class="my-4">Related Projects</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

  </div> -->




</div>
<!-- /.container -->